/* ---------- typography ---------- */

.lp-wrap {font-family: 'Mulish', sans-serif;}
h1 {
    font-size: 50px;
    margin: 0 0 24px;
    color: #4C4C4C;
    font-weight: 700;
}
h3 {
    font-size: 32px;
    color: #4C4C4C;
    font-weight: 400;
}
h4 {
    font-size: 30px;
    color: #4C4C4C;
}

h5 {
    font-size: 18px;
    color: #4C4C4C;
    margin: 0 0 1em 0;
}

p {
    font-size: 16px;
    color: #4C4C4C;
}

a {
    font-size: 16px;
    color: #5B5B5B;
}

a:hover {
    color: #1B1B1B;
}

.padded-link {
    padding: 4px 0;
    display: inline-block;
}

.qq {
    font-size: 192px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    vertical-align: bottom;
    display: inline-block;
    margin-left: -40px;
    position: absolute;
    margin: 12px 0 0 -60px;
    color: rgba(255,255,255,0.2);
}

.qq-override {
    color: #d2d2d2;
    margin: -154px 0 0 -12px;
}

/* ---------- colors ---------- */

.bg-light-gray { background: #d8d8d8; }
.bg-dark-gray { background: #4C4C4C; }
.fg-white { color: white; }

/* ---------- navbar ---------- */

.navbar-wrap {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    /*width: 80%;*/
    box-sizing: border-box;
    align-items: center;
}

#logo {display: flex;}
#logo img { 
    width: 60px;
}

#links {
    display: flex;
}

#links a {
    margin-left: 24px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

#links a:hover {
    text-decoration: underline;
}

#navbarline {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 1px solid #e2e2e2;
}

/* ---------- modules ---------- */

.form-wrap {
    /* display: flex; */
    background: #e9e9e9;
    padding: 32px;
    min-height: 300px;
}

.button {
    padding: 16px 40px;
    background: #5B5B5B;
    color: white;
    display: inline-block;
    transition: background .3s ease-out;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    white-space: nowrap;
}

.button:hover {
    background: #1B1B1B;
    color: white;
}

.button-wide {
    padding: 16px 120px;
}

.whiteline {
    height: 1px;
    background: white;
}

.grayline {
    height: 1px;
    background: #d8d8d8;
}

.whitebreak {
    height: 120px;
}

.card, .card-bare {
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    transition: margin-top .2s ease-out;
    cursor: pointer;
}

.card p {
    padding: 8px 24px;
}

.card:hover, .card-bare:hover {
    margin-top: -16px;
}

.card-image {
    width: 100%;
    height: 160px;
    background: #d8d8d8;
    background-size: cover;
    background-position: center center;
    border-radius: 4px 4px 0 0;
}

.card-bare {
    padding: 32px;
    background: #F2F2F2;
    border: none;
}

.card-bare h5:last-child {
    margin: 0;
}

.quote {
    padding: 116px 392px;
}

.quote h5 {
    margin: 0;
    line-height: 2em;
}

.quote p {
    margin: 0;
}

.quote hr {
    margin: 32px 0;
    height: 0;
    width: 60%;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.face-thumb {
    border-radius: 100%;
    width: 96px;
    margin: 0 0 24px 0;
}

.quote .face-thumb {
    margin: -176px 0 64px 0;
    width: 120px;
}

.quote-stroke {
    padding: 48px;
    border: solid 1px #CACACA;
    margin: 32px;
}

/* ---------- material icons ---------- */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 {font-size: 48px;}
.material-icons.md-dark { color: #4C4C4C; }

/* ---------- misc ---------- */

.bt { border-top: 1px solid #F2F2F2; }
.br { border-right: 1px solid #F2F2F2; }
.bb { border-bottom: 1px solid #F2F2F2; }
.bl { border-left: 1px solid #F2F2F2; }

.resimage {
    max-width: 100%;
}

.centertext {
    text-align: center;
}

/*#card-image-one {
    background-image: url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1909&q=80);
}

#card-image-two {
    background-image: url(https://images.unsplash.com/photo-1519070994522-88c6b756330e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1501&q=80);
}

#card-image-three{
    background-image: url(https://images.unsplash.com/photo-1505318591007-2e8a3edd6042?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2214&q=80);
}*/

#k_player01, #k_player02 {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-bottom: 75%;*/
    height: 0;
}
#k_player01 iframe, #k_player02 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------- mobile media query ---------- */

@media (max-width: 680px) {

    .button {
        margin: 0 0 32px 0;
    }

    .bt, .br, .bb, .bl {
        border: 0;
        border-bottom: 1px solid #F2F2F2;
    }

    .material-icons.md-48 {font-size: 64px;}

    .reverse {
        flex-direction: column-reverse;
    }

    .card, .card-bare {
        margin-bottom: 32px;
    }

    .quote {
        padding: 64px;
    }

    .quote .face-thumb {
        margin: -124px 0 64px 0;
    }

}